<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backgroundColor</key>
	<string>#FFFFFF</string>
	<key>fileTypes</key>
	<array>
		<string>pike</string>
		<string>pmod</string>
	</array>
	<key>foldingStartMarker</key>
	<string>(/\*\*|\{\s*$)</string>
	<key>foldingStopMarker</key>
	<string>(\*\*/|^\s*\})</string>
	<key>foregroundColor</key>
	<string>#000000</string>
	<key>increaseIndentPattern</key>
	<string>^.*(\{[^}"']*|\([^)"']*)$</string>
	<key>keyEquivalent</key>
	<string>@P</string>
	<key>name</key>
	<string>Pike</string>
	<key>patterns</key>
	<array>
		<dict>
			<key>match</key>
			<string>\b(public|nomask|private|optional|local|final|static)\b</string>
			<key>name</key>
			<string>storage.modifier.pike</string>
		</dict>
		<dict>
			<key>match</key>
			<string>\b(import|inherit|this|foreach|break|continue|while|do|return|if|else|case|switch)\b</string>
			<key>name</key>
			<string>keyword.control.pike</string>
		</dict>
		<dict>
			<key>match</key>
			<string>\b(constant|int|float|string|array|mapping|multiset|program|class|object|mixed|void)\b</string>
			<key>name</key>
			<string>storage.type.pike</string>
		</dict>
		<dict>
			<key>match</key>
			<string>\b(UNDEFINED)\b</string>
			<key>name</key>
			<string>constant.language.pike</string>
		</dict>
		<dict>
			<key>match</key>
			<string>\b((0(x|X)[0-9a-fA-F]*)|(([0-9]+\.?[0-9]*)|(\.[0-9]+))((e|E)(\+|-)?[0-9]+)?)\b</string>
			<key>name</key>
			<string>constant.numeric.pike</string>
		</dict>
		<dict>
			<key>begin</key>
			<string>"</string>
			<key>end</key>
			<string>"</string>
			<key>name</key>
			<string>string.quoted.double.pike</string>
			<key>swallow</key>
			<string>\\.</string>
		</dict>
		<dict>
			<key>begin</key>
			<string>'</string>
			<key>end</key>
			<string>'</string>
			<key>name</key>
			<string>string.quoted.single.pike</string>
			<key>swallow</key>
			<string>\\.</string>
		</dict>
		<dict>
			<key>begin</key>
			<string>/\*</string>
			<key>end</key>
			<string>\*/</string>
			<key>name</key>
			<string>comment.block.pike</string>
		</dict>
		<dict>
			<key>match</key>
			<string>//.*$</string>
			<key>name</key>
			<string>comment.line.double-slash.pike</string>
		</dict>
		<dict>
			<key>match</key>
			<string>^[ \t]*#[a-zA-Z]+</string>
			<key>name</key>
			<string>other.preprocessor.pike</string>
		</dict>
	</array>
	<key>scopeName</key>
	<string>source.pike</string>
	<key>uuid</key>
	<string>10989C01-FEBD-4EC2-9D19-0DA30AFD6FB7</string>
</dict>
</plist>
